In [1]:
import numpy as np
import pandas as pd
import datetime
import missingno as msno

# Define function

In [2]:

def str_to_ts(x):
    x_ts = datetime.datetime.strptime(x, "%Y-%m-%d %H:%M:%S")
    return x_ts
def get_mean(x,y):
    if np.isnan(x):
        return y
    elif np.isnan(y):
        return x
    else:
        return (x+y)/2

In [3]:
def fill_num_na_closetime(df):
    df[num_features] = df[num_features].fillna(method='pad',limit = 5)
    return df
def fill_cat_na(df):
    df[cat_feature] = df[cat_feature].fillna(df.mode().iloc[0])
    return df
def fill_num_na_mean(df):
    df[num_features] = df[num_features].fillna(df.mean())
    return df

# Useful variable

In [4]:
stationId = ['fangshan_aq',
             'daxing_aq',
             'yizhuang_aq',
             'tongzhou_aq',
             'shunyi_aq',
             'pingchang_aq',
             'mentougou_aq',
             'pinggu_aq',
             'huairou_aq',
             'miyun_aq',
             'yanqin_aq',
             'dingling_aq',
             'badaling_aq',
             'miyunshuiku_aq',
             'donggaocun_aq',
             'yongledian_aq',
             'yufa_aq',
             'liulihe_aq',
             'qianmen_aq',
             'yongdingmennei_aq',
             'xizhimenbei_aq',
             'nansanhuan_aq',
             'dongsihuan_aq',
             'dongsi_aq',
             'tiantan_aq',
             'guanyuan_aq',
             'wanshouxigong_aq',
             'aotizhongxin_aq',
             'nongzhanguan_aq',
             'wanliu_aq',
             'beibuxinqu_aq',
             'zhiwuyuan_aq',
             'fengtaihuayuan_aq',
             'yungang_aq',
             'gucheng_aq']
air_list = ['CO','NO2','O3','PM10','PM2.5','SO2']
weatherFeatures = [['gr_h', 'ob_h','h'],['gr_p', 'ob_p','p'],['gr_t','ob_t','t'],
        ['gr_ws','ob_ws','ws'] ]
features_to_drop = ['gr_h', 'gr_p', 'gr_t',
        'gr_ws', 'ob_h', 'ob_p', 'ob_t',  'gr_w',
       'ob_ws','index']
num_features=  [ 'AQI','CO','NO2','O3','PM10','PM2.5','SO2','h', 'p', 't',
       'ws']
cat_feature = ['ob_w']

In [6]:
train_file = '../from_Brian/_myTRAIN.csv'
train_df =pd.read_csv(train_file,header=[0,1], parse_dates = True, index_col = 0)

In [7]:
train_df

                    aotizhongxin_aq                                         \
                                AQI  PM2.5   PM10    NO2   CO     O3   SO2
time
2017-01-01 22:00:00           469.0  453.0  467.0  156.0  7.2    3.0   9.0
2017-01-01 23:00:00           445.0  417.0  443.0  143.0  6.8    2.0   8.0
2017-02-01 00:00:00           430.0  395.0  467.0  141.0  6.9    3.0   8.0
2017-02-01 01:00:00           447.0  420.0  484.0  139.0  7.4    3.0   9.0
2017-02-01 02:00:00           469.0  453.0  520.0  157.0  7.6    4.0   9.0
2017-02-01 03:00:00           453.0  429.0    NaN  141.0  6.5    3.0   9.0
2017-02-01 04:00:00           261.0  211.0    NaN  110.0  3.3    NaN  11.0
2017-02-01 05:00:00           151.0  116.0    NaN   87.0  2.2    4.0  13.0
2017-02-01 06:00:00            70.0   51.0    NaN   58.0  1.3   26.0  14.0
2017-02-01 07:00:00            54.0   38.0    NaN   55.0  1.1   28.0  14.0
2017-02-01 08:00:00            30.0   21.0    NaN   40.0  0.7   42.0  16.0
2017-02-01 09:00:00            23.0   16.0    NaN   40.0  0.8   44.0  18.0
2017-02-01 10:00:00            33.0   23.0    NaN   42.0  0.7   45.0  17.0
2017-02-01 11:00:00            26.0   18.0    NaN   30.0  0.6   59.0  14.0
2017-02-01 12:00:00           149.0   58.0  247.0   76.0  2.4   46.0  12.0
2017-02-01 13:00:00           226.0  176.0    NaN   99.0  0.3   42.0  17.0
2017-02-01 14:00:00           143.0  109.0  211.0   86.0  2.6   58.0  14.0
2017-02-01 15:00:00           317.0  267.0    NaN  125.0  4.2   53.0  19.0
2017-02-01 16:00:00           310.0  260.0    NaN  115.0  3.9   56.0  18.0
2017-02-01 17:00:00           262.0  212.0    NaN  112.0  3.6   50.0  14.0
2017-02-01 18:00:00           233.0  183.0    NaN  111.0  0.3   33.0  14.0
2017-02-01 19:00:00           180.0  136.0    NaN   89.0  2.3   41.0  14.0
2017-02-01 20:00:00           181.0  137.0    NaN   89.0  2.2   35.0  13.0
2017-02-01 21:00:00           164.0  125.0    NaN   90.0  2.1   28.0  13.0
2017-02-01 22:00:00           203.0  153.0    NaN  108.0  2.5   13.0  14.0
2017-02-01 23:00:00           215.0  165.0    NaN  126.0  3.1    2.0  14.0
2017-03-01 00:00:00           275.0  225.0    NaN  148.0  4.9    4.0  23.0
2017-03-01 01:00:00           325.0  275.0    NaN  158.0  6.4    7.0  28.0
2017-03-01 02:00:00           343.0  293.0    NaN  155.0  6.4    5.0  17.0
2017-03-01 03:00:00           343.0  293.0    NaN  153.0  6.2    5.0  16.0
...                             ...    ...    ...    ...  ...    ...   ...
2018-04-29 18:00:00           163.0   24.0   55.0   28.0  0.3   73.0   2.0
2018-04-29 19:00:00           154.0   24.0   40.0   32.0  0.4   56.0   2.0
2018-04-29 20:00:00           135.0   22.0   51.0   35.0  0.4   47.0   2.0
2018-04-29 21:00:00           130.0   14.0   30.0   18.0  0.3   60.0   2.0
2018-04-29 22:00:00           131.0   19.0   35.0   22.0  0.5   60.0   2.0
2018-04-29 23:00:00            90.0   18.0   57.0   27.0  0.6   57.0   4.0
2018-04-30 00:00:00            68.0   21.0   63.0   32.0  0.7   55.0   7.0
2018-04-30 01:00:00            63.0   24.0   68.0   29.0  0.9   59.0   8.0
2018-04-30 02:00:00            53.0   34.0   69.0   28.0  1.2   62.0  10.0
2018-04-30 03:00:00            40.0   41.0   78.0   27.0  1.2   73.0  11.0
2018-04-30 04:00:00            51.0   35.0   71.0   20.0  1.0   96.0   9.0
2018-04-30 05:00:00            30.0   39.0   79.0   18.0  0.8  107.0   7.0
2018-04-30 06:00:00            35.0   37.0   59.0   16.0  0.7  122.0   6.0
2018-04-30 07:00:00            54.0   29.0   49.0   16.0  0.7  128.0   6.0
2018-04-30 08:00:00            57.0   33.0   46.0   17.0  0.6  134.0   5.0
2018-04-30 09:00:00            59.0   35.0   57.0   18.0  0.6  136.0   5.0
2018-04-30 10:00:00            60.0   34.0   55.0   22.0  0.6  134.0   4.0
2018-04-30 11:00:00            64.0    NaN    NaN    NaN  NaN    NaN   NaN
2018-04-30 12:00:00            61.0   24.0   52.0   35.0  0.5   96.0   2.0
2018-04-30 13:00:00            65.0   22.0   41.0   30.0  0.5   98.0   2.0
2018-04-30 14:00:00            55.0   24.0   41.0   33.0  0.6   86.0   2.0
2018-04-30 15:00:00            49.0   26.0   34.0   39.0  0.7   72.0   2.0
2018-04-30 16:00:00            47.0   22.0   42.0   50.0  0.7   49.0   3.0
2018-04-30 17:00:00            54.0   28.0   54.0   62.0  0.9   28.0   2.0
2018-04-30 18:00:00            53.0    NaN    NaN    NaN  NaN    NaN   NaN
2018-04-30 19:00:00            51.0   29.0   65.0   90.0  0.8    2.0   2.0
2018-04-30 20:00:00            51.0   35.0   73.0   95.0  0.7    2.0   2.0
2018-04-30 21:00:00            41.0   38.0   83.0   86.0  0.6    2.0   2.0
2018-04-30 22:00:00            41.0   45.0   59.0   79.0  0.6    2.0   2.0
2018-04-30 23:00:00            37.0   76.0  299.0   44.0  0.4   31.0   2.0

                                               ...   zhiwuyuan_aq            \
                       ob_h      ob_p    ob_t  ...           ob_h      ob_p
time                                           ...
2017-01-01 22:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-01-01 23:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 00:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 01:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 02:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 03:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 04:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 05:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 06:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 07:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 08:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 09:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 10:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 11:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 12:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 13:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 14:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 15:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 16:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 17:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 18:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 19:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 20:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 21:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 22:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-02-01 23:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-03-01 00:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-03-01 01:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-03-01 02:00:00     NaN       NaN     NaN  ...            NaN       NaN
2017-03-01 03:00:00     NaN       NaN     NaN  ...            NaN       NaN
...                     ...       ...     ...  ...            ...       ...
2018-04-29 18:00:00  50.019   996.885  27.143  ...         51.526   995.101
2018-04-29 19:00:00  55.981   997.987  25.696  ...         56.052   996.301
2018-04-29 20:00:00  54.509   999.487  25.193  ...         52.897   997.801
2018-04-29 21:00:00  57.037  1000.787  24.489  ...         55.845   999.048
2018-04-29 22:00:00  58.150  1001.487  23.634  ...         63.371   999.748
2018-04-29 23:00:00  47.000  1003.200  24.100  ...         60.000   999.800
2018-04-30 00:00:00  42.963  1003.636  23.857  ...         42.052  1001.848
2018-04-30 01:00:00  44.472  1004.487  22.704  ...         40.897  1002.538
2018-04-30 02:00:00  48.944  1004.938  21.407  ...         46.000  1003.248
2018-04-30 03:00:00  55.584  1005.387  20.140  ...         60.526  1003.701
2018-04-30 04:00:00  60.641  1006.436  18.432  ...         66.948  1004.701
2018-04-30 05:00:00  60.150  1007.187  18.028  ...         67.474  1005.553
2018-04-30 06:00:00  59.056  1007.936  17.934  ...         60.422  1006.306
2018-04-30 07:00:00  57.491  1009.185  19.155  ...         54.897  1007.506
2018-04-30 08:00:00  56.963  1010.185  19.406  ...         54.474  1008.401
2018-04-30 09:00:00  56.000  1010.285  20.206  ...         56.526  1008.501
2018-04-30 10:00:00  52.981  1010.285  21.258  ...         51.474  1008.448
2018-04-30 11:00:00  47.509  1009.834  22.702  ...         46.948  1008.053
2018-04-30 12:00:00  45.491  1009.234  23.358  ...         46.578  1007.401
2018-04-30 13:00:00  47.037  1008.534  23.302  ...         49.000  1006.753
2018-04-30 14:00:00  45.528  1007.983  23.157  ...         46.474  1006.153
2018-04-30 15:00:00  43.981  1007.083  23.507  ...         43.526  1005.253
2018-04-30 16:00:00  45.491  1006.132  22.955  ...         44.474  1004.201
2018-04-30 17:00:00  47.000  1005.881  22.357  ...         46.474  1003.953
2018-04-30 18:00:00  48.000  1005.783  21.955  ...         48.000  1003.848
2018-04-30 19:00:00  52.000  1006.881  21.307  ...         50.422  1004.901
2018-04-30 20:00:00  53.491  1007.279  20.502  ...         53.000  1005.253
2018-04-30 21:00:00  55.509  1007.736  19.704  ...         53.897  1006.001
2018-04-30 22:00:00  59.509  1007.836  18.651  ...         58.422  1005.996
2018-04-30 23:00:00  61.019  1007.385  18.149  ...         58.845  1005.601


                       ob_t ob_w  ob_ws    gr_h      gr_p    gr_t gr_w  gr_ws
time
2017-01-01 22:00:00     NaN  NaN    NaN  45.740  1003.003  -1.781  NaN  1.994
2017-01-01 23:00:00     NaN  NaN    NaN  43.467  1003.247  -1.475  NaN  2.689
2017-02-01 00:00:00     NaN  NaN    NaN  43.500  1003.410  -1.515  NaN  3.060
2017-02-01 01:00:00     NaN  NaN    NaN  43.525  1003.563  -1.563  NaN  3.422
2017-02-01 02:00:00     NaN  NaN    NaN  43.550  1003.717  -1.612  NaN  3.793
2017-02-01 03:00:00     NaN  NaN    NaN  44.265  1003.928  -1.943  NaN  3.702
2017-02-01 04:00:00     NaN  NaN    NaN  44.987  1004.140  -2.284  NaN  3.613
2017-02-01 05:00:00     NaN  NaN    NaN  45.702  1004.351  -2.616  NaN  3.523
2017-02-01 06:00:00     NaN  NaN    NaN  45.557  1004.742  -2.864  NaN  3.264
2017-02-01 07:00:00     NaN  NaN    NaN  45.421  1005.142  -3.112  NaN  3.003
2017-02-01 08:00:00     NaN  NaN    NaN  45.277  1005.541  -3.350  NaN  2.742
2017-02-01 09:00:00     NaN  NaN    NaN  38.853  1005.719  -1.178  NaN  2.347
2017-02-01 10:00:00     NaN  NaN    NaN  32.421  1005.897   0.994  NaN  1.944
2017-02-01 11:00:00     NaN  NaN    NaN  25.989  1006.076   3.166  NaN  1.549
2017-02-01 12:00:00     NaN  NaN    NaN  24.730  1005.554   4.022  NaN  0.584
2017-02-01 13:00:00     NaN  NaN    NaN  23.463  1005.032   4.877  NaN  0.489
2017-02-01 14:00:00     NaN  NaN    NaN  22.204  1004.510   5.741  NaN  1.435
2017-02-01 15:00:00     NaN  NaN    NaN  28.989  1004.299   3.643  NaN  1.608
2017-02-01 16:00:00     NaN  NaN    NaN  35.774  1004.089   1.554  NaN  1.826
2017-02-01 17:00:00     NaN  NaN    NaN  42.568  1003.869  -0.535  NaN  2.071
2017-02-01 18:00:00     NaN  NaN    NaN  46.200  1003.880  -1.125  NaN  1.784
2017-02-01 19:00:00     NaN  NaN    NaN  49.824  1003.891  -1.705  NaN  1.541
2017-02-01 20:00:00     NaN  NaN    NaN  53.457  1003.902  -2.287  NaN  1.353
2017-02-01 21:00:00     NaN  NaN    NaN  56.558  1003.495  -2.543  NaN  1.243
2017-02-01 22:00:00     NaN  NaN    NaN  59.651  1003.095  -2.799  NaN  1.135
2017-02-01 23:00:00     NaN  NaN    NaN  62.744  1002.696  -3.054  NaN  1.023
2017-03-01 00:00:00     NaN  NaN    NaN  63.535  1002.566  -3.310  NaN  0.713
2017-03-01 01:00:00     NaN  NaN    NaN  64.326  1002.436  -3.556  NaN  0.526
2017-03-01 02:00:00     NaN  NaN    NaN  65.124  1002.314  -3.811  NaN  0.623
2017-03-01 03:00:00     NaN  NaN    NaN  67.325  1002.042  -4.015  NaN  0.634
...                     ...  ...    ...     ...       ...     ...  ...    ...
2018-04-29 18:00:00  26.484  7.0  1.032  27.129   987.982  27.000  0.0  2.008
2018-04-29 19:00:00  25.395  7.0  1.195  30.258   988.484  25.178  0.0  1.629
2018-04-29 20:00:00  25.063  7.0  1.089  35.129   984.945  25.000  1.0  2.233
2018-04-29 21:00:00  24.478  7.0  0.841  38.483   991.325  24.049  1.0  3.444
2018-04-29 22:00:00  23.063  7.0  0.910  41.335   993.206  23.089  1.0  4.345
2018-04-29 23:00:00  23.300  7.0  1.100  44.335   994.740  23.178  1.0  4.684
2018-04-30 00:00:00  24.095  0.0  2.399  39.111   990.038  17.931  1.0  5.127
2018-04-30 01:00:00  23.110  0.0  2.209  41.277   996.131  17.200  3.0  4.190
2018-04-30 02:00:00  21.800  0.0  0.916  46.120   991.880  16.600  1.0  2.777
2018-04-30 03:00:00  19.179  0.0  0.600  47.249   997.330  16.382  1.0  1.971
2018-04-30 04:00:00  17.290  0.0  0.973  47.231   998.042  16.100  1.0  1.401
2018-04-30 05:00:00  16.742  0.0  0.490  48.025   993.905  16.000  1.0  1.072
2018-04-30 06:00:00  17.416  0.0  0.968  40.379   995.281  17.000  1.0  2.620
2018-04-30 07:00:00  19.453  0.0  1.300  39.375   995.904  18.951  1.0  2.476
2018-04-30 08:00:00  19.753  0.0  1.863  37.394  1001.436  20.089  1.0  2.372
2018-04-30 09:00:00  20.132  0.0  1.636  36.197  1000.930  20.089  1.0  2.645
2018-04-30 10:00:00  21.647  0.0  2.353  34.157  1001.709  21.089  1.0  3.077
2018-04-30 11:00:00  22.747  0.0  3.047  32.129   996.808  23.000  1.0  3.457
2018-04-30 12:00:00  23.169  0.0  2.531  35.089   994.474  23.000  1.0  3.713
2018-04-30 13:00:00  22.979  0.0  3.194  33.139   998.512  23.089  1.0  3.837
2018-04-30 14:00:00  23.132  0.0  3.657  32.071   997.668  24.000  1.0  4.066
2018-04-30 15:00:00  23.427  0.0  2.884  31.982   996.804  23.911  1.0  4.515
2018-04-30 16:00:00  23.147  0.0  3.667  32.031   996.073  23.000  1.0  4.964
2018-04-30 17:00:00  22.595  0.0  2.899  32.139   995.604  23.000  1.0  5.204
2018-04-30 18:00:00  22.253  0.0  2.268  38.982   992.617  22.089  1.0  3.796
2018-04-30 19:00:00  21.753  0.0  0.947  40.071   997.301  21.951  1.0  3.253
2018-04-30 20:00:00  20.547  0.0  1.353  42.874   992.854  20.911  1.0  2.485
2018-04-30 21:00:00  20.058  0.0  0.895     NaN       NaN     NaN  NaN    NaN
2018-04-30 22:00:00  18.805  0.0  0.678  44.148   998.316  19.000  1.0  1.493
2018-04-30 23:00:00  18.310  0.0  1.258  45.188   998.457  18.911  1.0  1.030

[11618 rows x 595 columns]

# change the structure of the data

In [6]:
'''
transfer timestamp to number
after this , the time is 0~10000+
if want to rerun this part, it should be together with .read_csv
'''
train_df = train_df.reset_index().reset_index()

In [7]:
for Id in stationId:
    train_df[Id, 'time'] = train_df['index']
train_df = train_df.drop('index', axis = 1,level = 0)

In [8]:
'''
restucture the data, now they are in station list,use the last line to concat them
use list to process them seperatelly
'''

station_list = []
timelen = 11618
for Id in stationId:
    station_df = train_df[Id].copy()
    station_df['station_id'] = [Id]*timelen
    station_df = station_df.reset_index()
    station_list.append(station_df)

In [9]:
# all_sta_df.set_index(['time','station_id'], inplace = True)

In [10]:
# station_list[0]

#  generate the final weather feature

In [11]:
'''
after this prograss
we have a list to store 35 stations with aq and weather feature

'''
for i in range(len(station_list)):
    station_df = station_list[i]
    for feature in weatherFeatures:
            gr_feature = feature[0]
            ob_feature = feature[1]
            mean_feature = feature[2]
            station_df[mean_feature] = station_df.apply(lambda x:get_mean(x[gr_feature],x[ob_feature]),  axis=1)
    station_list[i] = station_df.drop(features_to_drop,axis = 1)

In [12]:
'''
store each element in the list to csv
'''
for i in range(len(station_list)):
    temp = station_list[i]
    temp.to_csv('../data/train_by_station/no_fill_missing_value/'+temp.loc[1,'station_id']+'.csv')

In [47]:
all_sta_df = pd.concat(station_list)

In [14]:
'''
store the big table to csv
'''
all_sta_df.to_csv('../data/train_by_station/no_fill_missing_value/allstations.csv')

# fill missing value

## same time, fill it with mean of the other station

In [87]:
all_sta_df_time = all_sta_df.sort_values(['time'])

In [88]:
all_sta_df_time.set_index(['time','station_id'],inplace = True)

In [89]:
all_sta_df_time.isna().sum()

AQI       46744
PM2.5     58858
PM10     133485
NO2       56926
CO        81368
O3        59079
SO2       56868
ob_w      27254
h           175
p           175
t           175
ws          175
dtype: int64

In [90]:
''' For the missing value,at the same time if the missing is less than 24, fill it by mean of the dataset

and for missing value more than this, fill it with

'''
time_index_list = list(range(11618))
for i in range(11618):
    df = all_sta_df_time.loc[i]
    for feature_ in num_features:
        b = df[feature_].isna().sum()
        if b<24:
            df[feature_]= df[feature_].fillna(df[feature_].mean())
    for feature_ in cat_feature:
        b = df[feature_].isna().sum()
        if b<24:
            df[feature_]= df[feature_].fillna(df[feature_].mode())

In [108]:
#
# msno.matrix(df, labels=True)

## same station different time, if the gap is larger than 5 hours, just skip it , or fill with time before

In [80]:
'''
restructure
'''
all_sta_df_loc = all_sta_df_time.reset_index(['station_id','time'])
all_sta_df_loc = all_sta_df_loc.sort_values(['station_id','time'])
all_sta_df_loc = all_sta_df_loc.set_index(['station_id','time'])

In [81]:
all_sta_df_loc.isna().sum()

AQI      27579
PM2.5    35419
PM10     72503
NO2      35420
CO       60654
O3       35541
SO2      35419
ob_w     27254
h          175
p          175
t          175
ws         175
dtype: int64

In [110]:
# all_sta_df_loc

In [83]:
for Id in stationId:
    df = all_sta_df_loc.loc[Id]
    df = df.fillna(method='ffill',limit = 3)
    df = df.fillna(method='bfill',limit = 3)
    all_sta_df_loc.loc[Id] = df.values

### check the performance of filling missing value

In [84]:
all_sta_df_loc.isna().sum()

AQI      12495
PM2.5    21315
PM10     37860
NO2      21315
CO       40845
O3       21315
SO2      21315
ob_w     24325
h            0
p            0
t            0
ws           0
dtype: int64

In [111]:
# for Id in stationId:
#     df = all_sta_df_loc.loc[Id]
#     msno.matrix(df, labels=True)

### store it in csv file

In [113]:
for Id in stationId:
    temp = all_sta_df_loc.loc[Id]
    temp.to_csv('../data/train_by_station/after_fill_missing_value/'+Id+'.csv')

In [116]:
all_sta_df_loc.to_csv('../data/train_by_station/allstation.csv')